<div *ngIf="character.name; else loading">
    <table border="1" width="500">
        <tr>
            <td>
                <img [src]="character.thumbnail" width="500">
            </td>
        </tr>
        <tr>
            <td>
                <span>
                    {{ character.name }}            
                </span>
                <span>
                    <button 
                        type="button"
                        [routerLink]="['/character/comment', character.id]"
                        >Comment</button>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ character.description }}
            </td>
        </tr>
    </table>
</div>

<div *ngIf="comments[0]">
    <table border="1">
        <tr *ngFor="let comment of comments">{{ comment }}</tr>
    </table>
</div>

<ng-template #loading>Loading</ng-template>